.venv/
__pycache__/
*.pyc
*.pyo
data/raw/**/*.json
*.egg-info/
.DS_Store
models/nlu/checkpoints/
models/nlu/dialect_classifier/*.safetensors
models/nlu/dialect_classifier/optimizer.pt
models/rag/*.faiss
models/rag/*.pkl
data/audio/*
